* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box; /* egyutt meretezodnek */
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none; /* ezzel nem lesz alahuzva a link */
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer; /* minidg legyen a gombon ointer */
    color: inherit; /* orokolje meg a aparent szinet */
  }
  
  textarea {
    resize: none; /* ne tudjak a szovegdoboz meretet allitnai */
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  /* a css reset eltorol minden folosleges dolgot amit a bongeszo rahuzza az oldalra */